body {
    background: black;
}

.header {
    display: flex;
    background: linear-gradient(to right , white , black);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-radius: 25px;
}

.header-font {
    font-family: monospace;
    font-size: 50px;
}

.header-logo {
    display: flex;
}

.void-plain-text {
    transform: scale(1);
    transition: transform 0.2s ease;
}

.void-plain-text:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.dev-link {
    text-decoration: none;

    transform: scale(1);
    transition: transform 0.2s ease;
}

.dev-link:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.redirect-header {
    display: flex;
    padding-top: 20px;
}

.header-link {
    padding-left: 20px;
    text-decoration: none;
    font-size: 30px;

    transform: scale(1);
    transition: transform 0.2s ease;
}

.header-link:hover {
    transform: scale(1.2);
}

.header-donations {
    text-decoration: line-through;
    color: rgb(145, 145, 145);
}

.project {
    display: flex;
    background: linear-gradient(to left, rgb(105, 105, 105) , white);
    align-items: center;
    margin-top: 45px;
    border-radius: 25px;
    padding-left: 25px;
}

.project-font {
    font-family: monospace;
    font-size: 25px;
}

.project-link {
    text-decoration: none;
}
