body {
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    margin: auto;
}

.void {
    display: flex;
    background-color: white;
    width: 650px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.void-font {
    font-family: monospace;
    font-size: 50px;
}